section {
	width: 800px;
	margin: 100px auto;
}
header h1, h2, h3,
section p {
	text-align: center;
}
header h1 {
	font: 32px 'Lora';
	font-weight: bold;
}
header h2 {
	font: 32px 'Lora';
	font-weight: bold;
}
header h3 {
 font: 32px 'Lora';
 font-weight: bold;
}
section p {
	font: 24px 'Open Sans';
}
